<!--This is the curriculum-->
<div class="curriculum section">
  <div class="container row">
    <div class="col l3 m4 s6">
      <div class="card cyan darken-4">
        <div class="card-image">
          <img src="img/chemistry.jpg" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title white-text">Chemistry</span>
        </div>
      </div>
    </div>
    <div class="col l3 m4 s6">
      <div class="card cyan darken-4">
        <div class="card-image">
          <img src="img/biology.jpg" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title white-text">Biology</span>
        </div>
      </div>
    </div>
    <div class="col l3 m4 s6">
      <div class="card cyan darken-4">
        <div class="card-image">
          <img src="img/physics.jpg" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title white-text">Physics</span>
        </div>
      </div>
    </div>
    <div class="col l3 m4 s6">
      <div class="card cyan darken-4">
        <div class="card-image">
          <img src="img/math.jpg" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title white-text">Math</span>
        </div>
      </div>
    </div>
    <div class="col l3 m4 s6">
      <div class="card cyan darken-4">
        <div class="card-image">
          <img src="img/cs.jpg" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title white-text">Computing</span>
        </div>
      </div>
    </div>
  </div>
</div>
