<header>
  <nav class="nav-wrapper cyan darken-4">
    <div class="container">
      <a href="index.html" class="brand-logo">Mayy Elites</a>
      <a href="#" data-target="menu" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="pricing">Pricing</a></li>
        <li><a class="btn red accent-3" href="contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav center cyan darken-4" id="menu">
    <li>
      <img
        src="img/elder-sister-and-brother-studying-at-home-3769981.jpg"
        class="responsive-img"
        alt=""
      />
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="pricing">Pricing</a></li>
    <li><a class="btn red accent-3" href="contact">Contact Us</a></li>
  </ul>
  </ul>
</header>
