<!-- Subscribe -->
<div class="subscribe">
  <div class="subscribe-left-col">
    <img src="img/hero.jpg" alt="" />
  </div>
  <div class="subscribe-right-col">
    <h3>Have Questions</h3>
    <span class="box"></span>
    <span class="box"></span>
    <span class="box"></span>
    <p>
      We can help you figure out the perfect program for your needs.
    </p>
    <form action="subscribe" method="POST">
      <input name="name" type="text" placeholder="Enter First Name" required />
      <input
        name="email"
        type="email"
        placeholder="Enter Email"
        required
      /><br />
      <textarea
        name="message"
        id="msg"
        cols="30"
        rows="6"
        placeholder="Enter your message"
      ></textarea>
      <button class="btn" type="submit">Send Now</button>
    </form>
  </div>
</div>
