<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="homeschooling-page container section">
      <h1>Homeschooling</h1>
      <img
        src="img/little-girl-taking-online-classes-4261789.jpg"
        alt="Homeschooling"
      />
      <p>
        Homeschooling has become a popular trend these days, with as many
        parents joining the bandwagon. Most of these parents are influenced by
        their ‘own reasons’ although, these issues are all quite similar. Some
        of the most common ones are:
      </p>
      <ul>
        <li>
          Overpopulated classes. The population of kids in a class makes it hard
          for teachers to zero in to each child’s specific needs.
        </li>
        <li>
          Values and principles (religion). Parents are often concerned with the
          influence that the school will have on their children. Of course, each
          family has certain core principles and values they regard highly and
          this can be a big deal if not addressed.
        </li>
      </ul>
      <p>Every child has a right to access education.</p>
      <p>
        Concerning the type of school and what form of education will be good
        for a child, is a decision best left to the parents or respective
        caregivers.
      </p>
      <p>
        Homeschooling, in our experience, can be the solution most parents need
        but just don’t know it yet.
      </p>
      <p>
        It’s true that it may not be everyone’s first choice. I know, you may be
        saying, well, ‘I went to a public school and I turned out just fine.’
      </p>
      <p>
        Or maybe, ‘what would people say about my children, how would they view
        me?’
      </p>
      <p>
        I personally think that there is no conventional manual on how a parent
        chooses to educate their child. The world is changing and what we feel
        as normal is relative today.
      </p>
      <p>
        The secret to understanding what works for you and your family is
        weighing the scale. What’s really important to you? Quality education,
        societal views on schooling or is it the thought of giving your child
        the BEST educational experience that would lay the ground for success.
      </p>
      <p>
        Listen, I say this with a lot of confidence because many have asked: ‘is
        it worth it? ‘It sounds expensive.’
      </p>
      <p>Or ‘it’s a foreign concept.’</p>
      <p>
        ‘how are you going to cater for the fact that children need to mingle
        with their respective peers?’
      </p>
      <p>
        I often say try it out. The only way you would know what works for you
        is to try. Maybe you’re wondering ‘but I don’t have time to do that.’
      </p>
      <p>
        True, time is of the essence, why not talk to some of the parents who
        have enrolled their children in our program. Hear it from them: call
        them.
      </p>
      <p>
        Once you feel at ease, come back and talk to us for more in-depth
        information on questions such as:
      </p>
      <ol>
        <li>what does the program look like?</li>
        <li>How do we customize it to suit your child’s needs?</li>
        <li>
          And what can you expect from this type of system. This and many more.
        </li>
      </ol>
      <p>
        Here at Mayy Elites, we advocate for the IGCSE curriculum which we feel,
        does a good job in explaining educational concepts in a simpler yet
        practical way. It taps quite deep into real life examples thus
        encouraging innovation among learners.
      </p>
      <p>
        Truth is: Quality education is important. Don’t let the price or
        anything else dictate what type of education your child will obtain.
      </p>
      <p>
        Talk to us today and get expert advice on this subject and much more.
      </p>
    </div>
    <!-- Subscribe -->

    <!-- End subscribe -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
