<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>

    <!--Important content goes here-->
    <main>
      <!-- Hero Section -->
      <div class="hero-content">
        <div class="container hero-container">
          <div class="left-col">
            <h1>Online Homeschooling & Tutoring</h1>
            <p>
              Do you want to enjoy unparalleled learning experience? You are in
              the perfect place. We are always ready to assist you in your
              effort to attain academic success.
            </p>

            <p>
              Not only do we promise to help you improve your grades, but also
              maximize on imparting proven educational tactics of study that
              will assist you as you scale up academically and in life.
            </p>

            <p>
              Have access to our high end learning program and the very best of
              teachers any day, any time from anywhere in the world.
            </p>
            <p>
              Join us today and become a part of our ever valued fast-growing
              online family.
            </p>
            <div class="section">
              <a href="about" class="btn red accent-3">Learn More</a>
              <a href="contact" class="btn white black-text"
                >Request Quotation</a
              >
            </div>
          </div>
          <div class="right-col">
            <img src="img/Girl-online-learning.jpg" alt="" />
          </div>
        </div>
      </div>
      <!--introductory content-->
      <div class="container intro-content row">
        <div class="left-col col l8 s12">
          <h2>EXAM PREP MADE EASY.</h2>
          <p>
            Do you Feel stressed while preparing for a test? Could it be because
            you feel unprepared? Do you fear that you have less time to cover
            the topics, or is it that you doubt your mastery of the content?
          </p>
          <p>
            Our well trained tutors provide a step by step guide on: <br />
            1) What to read <br />
            2) How to develop good study habits <br />
            3) Proven approaches on how to tackle difficult questions and so
            much more.
          </p>
          <P>
            Be smart and intentional about how you tackle these common problems
            faced by many students.
          </P>
        </div>
        <div class="right-col col l4 s12">
          <img src="img/student-stress.jpeg" alt="" />
        </div>
      </div>
      <!-- What to Expect Content-->
      <div class="container expect section">
        <div class="left-col">
          <img src="img/student-on-street.jpg" alt="" />
        </div>
        <div class="right-col">
          <h3>What to expect</h3>
          <ul>
            <li>
              Latest news on what topics are exam-friendly and the tips to
              handling the practical questions that test your knowledge on any
              subject.
            </li>
            <li>
              Missed content recovery/ Content that seems hard to understand
            </li>
            <li>
              Access to hands-on tutor who will ensure you have the necessary
              skills and knowledge needed to boost your performance.
            </li>
          </ul>
          <p>
            We put each child's needs first before formulating a customized
            program. Talk to us today and get expert advice on this subject and
            much more.
          </p>
        </div>
      </div>
      <!--Services Section-->
      <div class="services section">
        <div class="container row">
          <h1 class="center">What we offer</h1>
          <div class="col l4 s12 m6">
            <div class="card center">
              <div class="card-content">
                <div class="card-icon">
                  <a href=""
                    ><i class="material-icons medium black-text">school</i></a
                  >
                </div>
                <span class="card-title">Homeschooling</span>
                <p>
                  Our Homeschooling curriculum is prepared to suit the needs of
                  each student, considering the unique abilities each student
                  has. <br />
                  <br />
                  We encourage talent, indepentend thinking, collaboration and
                  self drive.
                </p>
              </div>
              <div class="card-action cyan darken-4 white-text">
                <a href="/homeschooling" class="white-text">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col l4 s12 m6">
            <div class="card center">
              <div class="card-content">
                <div class="card-icon">
                  <a href=""
                    ><i class="material-icons medium black-text">science</i></a
                  >
                </div>
                <span class="card-title">Holiday Tuition</span>
                <p>
                  Students may need tuition for a number of reasons: perhaps the
                  teacher just went too fast, or the student may want to read
                  ahead, or maybe he/she missed a number of classes, hence the
                  need to recover. <br />
                  <br />
                  For whatever reason, we are ready to help. Our content is
                  offered in an easy to understand manner.
                </p>
              </div>
              <div class="card-action cyan darken-4">
                <a href="/tuition" class="white-text">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col l4 s12 m6">
            <div class="card center">
              <div class="card-content">
                <div class="card-icon">
                  <a href=""
                    ><i class="material-icons medium black-text">code</i></a
                  >
                </div>
                <span class="card-title">Programming and Graphic Design</span>
                <p>
                  This is offered to students of all ages in an effort to
                  encourage technology innovation to our learners. Technology is
                  changing how we do things completly <br /><br />If you are
                  enrolled to our homeschooling curriculum, These are taught
                  free of charge.
                </p>
              </div>
              <div class="card-action cyan darken-4">
                <a href="/programming" class="white-text">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Testimonial-->
      <div class="testimonial white-text">
        <div class="container">
          <div class="glider-contain">
            <div class="glider container">
              <!--First Student-->
              <div class="student">
                <img
                  src="img/Matthew kanyua.jpeg"
                  class="responsive-img circle"
                  alt=""
                />
                <h3 class="student-name">Matthew Kanyua</h3>
                <h4 class="student-role">IGCSE Student</h4>
                <div class="content">
                  <p>
                    Homeschooling has been the best experience for me. I receive
                    personalized attention which was extremely lacking in my
                    previous school. My homeschooling teachers Kelvin and Mabel
                    are very kind in offering the support I need. My grades have
                    greatly improved.
                  </p>
                </div>
              </div>
              <!--second Student-->
              <div class="student">
                <img
                  src="img/Vansh Aggarwal.jpg"
                  class="responsive-img circle"
                  alt=""
                />
                <h3 class="student-name">Vansh Aggarwal</h3>
                <h4 class="student-role">IGCSE Student</h4>
                <div class="content">
                  <p>
                    Sir Kelvin helped me do very well in Mathematicts after
                    having failed for for many years. He helped me understand
                    hard concepts in an easy manner which contributed to my
                    success. He is really a good teacher.
                  </p>
                </div>
              </div>
              <!--Third Student-->
              <div class="student">
                <img
                  src="img/female.png"
                  class="responsive-img circle"
                  alt=""
                />
                <h3 class="student-name">Kathi Macharia</h3>
                <h4 class="student-role">A Level Student</h4>
                <div class="content">
                  <p>
                    Kelvin from Mayy Elites helped me improve my grade in Maths
                    and Chemistry greately. He is a really good teacher who
                    takes time to understand the student
                  </p>
                </div>
              </div>
            </div>
            <div class="glider-prev" style="padding-left: 20px">
              <i class="fas fa-arrow-alt-circle-left"></i>
            </div>
            <div class="glider-next" style="padding-right: 20px">
              <i class="fas fa-arrow-alt-circle-right"></i>
            </div>
            <!-- <button class="glider-prev">«</button>
            <button class="glider-next">»</button> -->
            <div id="dots"></div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./includes/curriculum.ejs') %> <%-
    include('./includes/footer.ejs') %>
  </body>
</html>
