<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="technical-courses">
      <h1>Page Under Construction!</h1>
      <p>Our apologies, please check again later.</p>
    </div>
    <!-- Subscribe -->
    <%- include('./includes/subscribe.ejs') %>
    <!-- End subscribe -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
