<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="technical-courses">
      <h1>Coming Soon! Included courses:</h1>
      <ul class="include">
        <li>Website Design and Development</li>
        <li>App design and Development</li>
        <li>Computer science</li>
        <li>Computer Literacy</li>
        <li>Digital Marketing</li>
        <li>Graphic design</li>
      </ul>
    </div>
    <!-- Subscribe -->
    <%- include('./includes/subscribe.ejs') %>
    <!-- End subscribe -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
