<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <main style="height: 80vh; text-align: center; padding-top: 100px">
      <h1 style="color: green">Thank You</h1>
      <p style="padding: 30px 50px">Your Email was sent successfully</p>
      <p style="margin: 20px">
        Go to the
        <a
          style="background-color: #1e0233; color: #e7d3cc; padding: 8px"
          href="/"
        >
          home page</a
        >
      </p>
    </main>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
