<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/nav.ejs') %>
    <!--Tuition content-->
    <div class="tuition-sec-1">
      <div class="container white-text center">
        <h1>Holiday Tuition</h1>
        <P>Learn The best way</P>
      </div>
    </div>
    <!--Tuition content section 2-->
    <div class="general-sec-2 container section row">
      <div class="col l8 s12 m6">
        <p>
          What we offer is more than tuition. We strive to bond with your child
          at first before we start teaching them. This enables us to know them
          better, which in turns helps us to approach the content with the needs
          of the student in mind.
        </p>
        <p>
          This is vital if we are to reach the student's heart and put the
          content there in a way he/she will never forget. And even more, see
          the practicality of the content.
        </p>
        <p>
          Our teachers are regularly trained to focus on the student's abilities
          and needs. This enables our teachers help the child the best way
          possible. To see through the student and to resonate with them.
        </p>
        <p>
          <a href="contact" class="btn orange darken-4">Talk to a Teacher</a>
        </p>
      </div>
      <div class="media-img col l4 s12 m6">
        <img src="img/girl-online-class.jpg" alt="" />
      </div>
    </div>
    <!-- End subscribe -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
